a, a:visited, body {
    color: black;
    background-color: white;
    font-family: 'proxima-nova', sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 11px;
}

table, th, td {
    border: 1px solid white;
    padding: .8em 2em;
}

tr.highlight th, tr.highlight td {
    background-color: #ADD8F2;
}

td {
    text-align: center;
}

.column-names {
    text-align: right;
    width: 1em;
}

input {
    margin: 0 .5em;
}

select {
    margin: 0 0.5em 0 0 ;
}
